body {
    font-family: Cambria;
    background-color: #585357;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 245, 245);
    padding: 10px;
    border-radius: 25px;
    margin: 20px;
  }